@use '@theme/color/color.scss' as *;
@use '@theme/padding/padding.scss' as *;
@use '@theme/margin/margin.scss' as *;

.alert {
  @include use-lg-padding();
  position: sticky;
  display: flex;
  color: white;
  fill: white;
  justify-content: space-between;
}

.alert:has(.input:checked) {
  display: none;
}

.close {
  flex-shrink: 0;
}
.close-icon {
  cursor: pointer;
  user-select: none;
}

.label {
  display: flex;
  gap: 12px;
  @include use-md-margin-bottom();
}
.label-content {
  font-weight: bold;
}

.close-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.info {
  background-color: $info;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($info, 4);
  }
}
.warning {
  background-color: $warning;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($warning, 4);
  }
}
.success {
  background-color: $success;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($success, 4);
  }
}
.error {
  background-color: $danger;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($danger, 4);
  }
}

.input {
  display: none;
}
