@use '@theme/color/color.scss' as color;
@use '@theme/font/index.scss' as font;
@use '../shared/use-focus-underline.scss' as *;

@mixin use-standard-text-field() {
  $blur-outline-color: color.$accents4;
  $focus-outline-color: color.$suoh;
  $focus-color: color.$suoh;
  $blur-color: color.$accents3;
  $transition-time: 0.3s;

  @include use-focus-underline();

  .input {
    height: 70%;
    border-bottom: $blur-outline-color solid 1px;
    bottom: 0;
    z-index: 100;
  }

  .input:placeholder-shown + .placeholder {
    z-index: 0;
  }

  .input:focus {
    border-bottom: $blur-outline-color solid 1px;
  }

  .input:focus + .placeholder {
    top: 2px;
    z-index: 200;
  }

  .placeholder {
    top: 2px;
    z-index: 200;
  }
}
