@use '@theme/color/color.scss' as color;
@use '@theme/animation/use-ripple.scss' as *;

@mixin use-standard-button($color: color.$suoh) {
  border: none;
  color: $color;
  background-color: inherit;
  @include use-ripple($color);

  &:hover {
    background-color: rgba($color, 0.08);
  }
}
