@use './variant/shared/use-text-area.scss' as *;
@use './variant/filled-text-area/filled-text-area.module.scss' as *;
@use './variant//outlined-text-area/outlined-text-area.module.scss' as *;
@use './variant/standard-text-area/standard-text-area.module.scss' as *;

@use '@theme/color/color.scss' as color;
@use '@theme/font/index.scss' as font;

.base-text-area {
  @include use-text-area();
}
.standard-text-area {
  @include use-standard-text-area();
}
.filled-text-area {
  @include use-filled-text-area();
}
.outlined-text-area {
  @include use-outlined-text-area();
}
.text-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
}
.helper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.user-helper {
  color: color.$accents5;
  @include font.use-caption-font-size();
  padding: 0 12px;
}
.markdownable {
  display: flex;
  color: color.$accents5;
  @include font.use-caption-font-size();
  padding: 0 12px;
  gap: 4px;
  align-items: center;
}
