@use '@theme/color/color.scss' as *;
@use '@theme/animation/use-ripple.scss' as *;

@mixin use-filled-chip($color: $text) {
  background-color: $color;
  color: white;
  border: 0px;

  // @include use-ripple(white);

  &:hover {
    background-color: lighten($color, 4);
  }
}
