@use '../../../../../frontend-utils/css/color.scss' as color;
@use '../shared/use-ripple.module.scss' as use-ripple;

.button {
  border: none;
  outline: none;
  color: inherit;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: inherit;
  color: color.$suoh;

  @include use-ripple.use-ripple();
}
