@use '@theme/color/color.scss' as *;
@use '@theme/animation/use-ripple.scss' as *;

@mixin use-outlined-button($color: $suoh) {
  color: $color;
  border: $color solid 1px;
  background-color: inherit;
  @include use-ripple($color);

  &:hover {
    background-color: rgba($color, 0.08);
  }
}
