.link {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  display: inline-flex;
}

.north-east-svg {
  width: 12px;
  fill: inherit;
}

.underline {
  text-decoration: underline;
}
