@use '@theme/font/index.scss' as font;

// spacing value: https://www.figma.com/community/file/1255349027535859598/Design-System-1.3.3
$heading1-top-space: 64px;
$heading1-bottom-space: 24px;

$heading2-top-space: 64px;
$heading2-bottom-space: 24px;

$heading3-top-space: 40px;
$heading3-bottom-space: 24px;

$heading4-top-space: 40px;
$heading4-bottom-space: 16px;

$heading5-top-space: 40px;
$heading5-bottom-space: 16px;

$heading6-top-space: 24px;
$heading6-bottom-space: 16px;

.h1 {
  @include font.use-heading1-font();
  &:not(.no-margin).margin {
    margin-top: $heading1-top-space;
    margin-bottom: $heading1-bottom-space;
  }
}

.h2 {
  @include font.use-heading2-font();
  &:not(.no-margin).margin {
    margin-top: $heading2-top-space;
    margin-bottom: $heading2-bottom-space;
  }
}

.h3 {
  @include font.use-heading3-font();
  &:not(.no-margin).margin {
    margin-top: $heading3-top-space;
    margin-bottom: $heading3-bottom-space;
  }
}

.h4 {
  @include font.use-heading4-font();
  &:not(.no-margin).margin {
    margin-top: $heading4-top-space;
    margin-bottom: $heading4-bottom-space;
  }
}

.h5 {
  @include font.use-heading5-font();
  &:not(.no-margin).margin {
    margin-top: $heading5-top-space;
    margin-bottom: $heading5-bottom-space;
  }
}

.h6 {
  @include font.use-heading6-font();
  &:not(.no-margin).margin {
    margin-top: $heading6-top-space;
    margin-bottom: $heading6-bottom-space;
  }
}

.center {
  text-align: center;
}
