@use '../../../../../frontend-utils/css/color.scss' as color;
@use '../../../../../frontend-utils/css/font.scss' as font;

$blur-outline-color: color.$accents-4;
$focus-outline-color: color.$suoh;
$focus-color: color.$suoh;
$blur-color: color.$accents-3;
$transition-time: 0.3s;

.filled-text-field {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  height: 50px;
  width: 100%;
  background-color: color.$accents-2;
}

.filled-text-field .input {
  appearance: none;
  font-size: 16px;

  -webkit-appearance: none;
  border-radius: 0;
  height: 70%;
  width: 100%;
  position: absolute;
  padding: 0 12px;
  background-color: transparent;
  border: none;
  border-bottom: $blur-outline-color solid 1px;
  outline: none;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
}

.filled-text-field .input:placeholder-shown + .placeholder {
  position: absolute;
  color: $blur-color;
  transition: all $transition-time;
  font-size: 16px;
  transform: scale(1);
  top: 16px;
  left: 0%;
  margin: 0 10px;
  padding: 0 2px;
  z-index: 0;
}

.filled-text-field .input:focus {
  border: none;
  border-bottom: $blur-outline-color solid 1px;
  outline: none;
  border-radius: 0;
}

.filled-text-field:has(.input:focus)::after {
  border-bottom: 1px solid color.$suoh;
  left: 0px;
  bottom: 0px;
  content: '';
  position: absolute;
  right: 0px;
  transform: scaleX(1);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
  z-index: 100;
}
.filled-text-field:not(:has(.input:focus))::after {
  border-bottom: 1px solid color.$suoh;
  left: 0px;
  bottom: 0px;
  content: '';
  position: absolute;
  right: 0px;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
  z-index: 100;
}

.filled-text-field .input:focus + .placeholder {
  position: absolute;
  color: $focus-color;
  transition: all $transition-time;
  transform-origin: 0;
  transform: scale(0.75);
  top: 2px;
  left: 0;
  z-index: 200;
}

.filled-text-field .placeholder {
  position: absolute;
  color: $focus-color;
  transition: all $transition-time;
  transform-origin: 0;
  transform: scale(0.75);
  top: 2px;
  margin: 0 10px;
  padding: 0 2px;
  z-index: 200;
}
