@use '../../../../../../shared/constant/color/color.scss' as color;
@use '../shared/use-ripple.module.scss' as use-ripple;

.outlined-button {
  border: none;
  outline: none;
  color: inherit;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: inherit;
  border: color.$suoh solid 1px;
  color: color.$suoh;

  @include use-ripple.use-ripple();
}
