@use '@theme/color/color.scss' as color;

.message {
  display: grid;
  grid-template: 'icon content';
  gap: 12px;
  align-items: stretch;
  padding: 12px;
  border-radius: 4px;
  justify-content: start;

  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1.7;
}

.icon {
  grid-area: icon;
  width: 30px;
}
.icon-svg {
  width: 30px;
}
.content {
  grid-area: content;
}

.monochrome {
  &.error {
    border: solid 1px color.$text;
    color: color.$text;
  }
  &.info {
    border: solid 1px color.$text;
    color: color.$text;
  }
  &.success {
    border: solid 1px color.$text;
    color: color.$text;
  }
  &.warning {
    border: solid 1px color.$text;
    color: color.$text;
  }

  .error-icon {
    fill: color.$text;
  }
  .info-icon {
    fill: color.$text;
  }
  .success-icon {
    fill: color.$text;
  }
  .warning-icon {
    fill: color.$text;
  }
}
.colorful {
  &.error {
    border: solid 1px color.$danger;
    color: color.$danger;
  }
  &.info {
    border: solid 1px color.$info;
    color: color.$info;
  }
  &.success {
    border: solid 1px color.$success;
    color: color.$success;
  }
  &.warning {
    border: solid 1px color.$warning;
    color: color.$warning;
  }

  .error-icon {
    fill: color.$danger;
  }
  .info-icon {
    fill: color.$info;
  }
  .success-icon {
    fill: color.$success;
  }
  .warning-icon {
    fill: color.$warning;
  }
}
