$suoh: #973c3f;
$kompeki: #007bbb;
$moegi: #aacf53;
$yokaniro: #383c3c;

$accents1: #fafafa;
$accents2: #eaeaea;
$accents3: #999;
$accents4: #888;
$accents5: #666;
$accents6: #444;
$accents7: #333;
$accents8: #111;

// semantic colors

$text: #383c3c;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$primary: $suoh;
$secondary: $kompeki;
$tertiary: $moegi;
