$suoh: #973c3f;
$kompeki: #007bbb;
$moegi: #aacf53;
$yokaniro: #383c3c;

$accents-1: #fafafa;
$accents-2: #eaeaea;
$accents-3: #999;
$accents-4: #888;
$accents-5: #666;
$accents-6: #444;
$accents-7: #333;
$accents-8: #111;
