@use '@theme/color/color.scss' as *;
@use '@theme/animation/use-ripple.scss' as *;

@mixin use-filled-button($color: $suoh) {
  border: none;
  color: white;
  background-color: $color;
  @include use-ripple(white);

  &:hover {
    background-color: lighten($color, 4);
  }
}
