@use '../../../../../../frontend-utils/css/color.scss' as color;
@use '../../../../../../frontend-utils/css/font.scss' as font;
@use '../shared/use-text-field.scss' as use-text-field;

$blur-outline-color: color.$accents-4;
$focus-outline-color: color.$suoh;
$focus-color: color.$suoh;
$blur-color: color.$accents-3;

$transition-time: 0.3s;
$f-transition-time: 0.1s;
$b-transition-time: 0.5s;

$blur-placeholder-z-index: 100;
$input-z-index: 200;
$placeholder-background-z-index: 300;
$focus-placeholder-z-index: 400;

$placeholder-top: -12px;

@include use-text-field.use-text-field();

// inputのスタイル
.text-field .input {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: $input-z-index;
  border: $blur-outline-color solid 1px;
}

// focusされたときのinputのスタイル
.text-field .input:focus {
  border: $focus-outline-color solid 1px;
  outline: none;
  border-radius: 0;
}

// 入力されていないときのplaceholderのスタイル
.text-field .input:placeholder-shown ~ .placeholder {
  z-index: $blur-placeholder-z-index;
}

// focusされているときのplaceholderのスタイル
.text-field .input:focus ~ .placeholder {
  top: $placeholder-top;
  z-index: $focus-placeholder-z-index;
}

// 入力があるときのplaceholderのスタイル
.text-field .placeholder {
  top: $placeholder-top;
  z-index: $focus-placeholder-z-index;
}

// 入力がないときのplaceholder-backgroundのスタイル
.text-field .input:placeholder-shown ~ .placeholder-background {
  position: absolute;
  background-color: transparent;
  color: transparent;
  transition: all $b-transition-time;
  transform-origin: 0;
  transform: scale(0.75);
  top: $placeholder-top;
  left: 0;
  margin: 0 10px;
  padding: 0 2px;
  z-index: $placeholder-background-z-index;
}

// focusされているときのplaceholder-backgroundのスタイル
.text-field .input:focus ~ .placeholder-background {
  position: absolute;
  background-color: white;
  color: transparent;
  transition: all $f-transition-time;
  transform-origin: 0;
  transform: scale(0.75);
  top: $placeholder-top;
  left: 0;
  margin: 0 10px;
  padding: 0 2px;
  z-index: $placeholder-background-z-index;
}

// 入力があるときのplaceholder-backgroundのスタイル
.text-field .placeholder-background {
  position: absolute;
  background-color: white;
  color: transparent;
  transition: all $f-transition-time;
  transform-origin: 0;
  transform: scale(0.75);
  top: $placeholder-top;
  left: 0;
  margin: 0 10px;
  padding: 0 2px;
  z-index: $placeholder-background-z-index;
}
