@use '../../../../../../frontend-utils/css/color.scss' as color;
@use '../../../../../../frontend-utils/css/font.scss' as font;
@use '../shared/use-text-field.scss' as use-text-field;

$blur-outline-color: color.$accents-4;
$focus-outline-color: color.$suoh;
$focus-color: color.$suoh;
$blur-color: color.$accents-3;

$transition-time: 0.3s;

@include use-text-field.use-focus-underline();
@include use-text-field.use-text-field();

.text-field .input {
  height: 70%;
  border-bottom: $blur-outline-color solid 1px;
  bottom: 0;
  z-index: 100;
}

.text-field .input:placeholder-shown + .placeholder {
  z-index: 0;
}

.text-field .input:focus {
  border-bottom: $blur-outline-color solid 1px;
}

.text-field .input:focus + .placeholder {
  top: 2px;
  z-index: 200;
}

.text-field .placeholder {
  top: 2px;
  z-index: 200;
}
