@use '@layer/layer.scss' as layer;

.sticky {
  position: -webkit-fixed;
  position: sticky;
  z-index: layer.$mid;
  left: 0;
  right: 0;
}
.position-top {
  top: 0;

  left: 0;
  right: 0;
}
.position-bottom {
  bottom: 0;

  left: 0;
  right: 0;
}
.position-left {
  left: 0;
  width: 20%;

  top: 0;
  bottom: 0;
}
.position-right {
  right: 0;
  width: 20%;

  top: 0;
  bottom: 0;
}
