@use '@theme/color/color.scss' as color;
@use '@theme/font/index.scss' as font;

$blur-outline-color: color.$accents4;
$focus-outline-color: color.$suoh;
$focus-color: color.$suoh;
$blur-color: color.$accents3;
$transition-time: 0.3s;

@mixin use-focus-underline {
  &::after {
    border-bottom: 1px solid color.$suoh;
    left: 0px;
    bottom: 0px;
    content: '';
    position: absolute;
    right: 0px;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
    z-index: 100;
  }
  &:has(.input:focus)::after {
    transform: scaleX(1);
  }

  &:not(:has(.input:focus))::after {
    transform: scaleX(0);
  }
}
